#map {
	width: 100%;
	height: 300px;
	border: solid 1px gray;
}
label {
	margin-right: 20px;
}
#slider {
	width: 500px;
	margin-left: 23px;
	margin-bottom: 30px;
}
#slider .dijitRuleLabelH {
	width: 100px;
}